@font-face {
    font-family: HelveticaNowTextRegular;
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/HelveticaNowText.woff) format("woff");
}

@font-face {
    font-family: HelveticaNowTextBold;
    font-style: normal;
    font-weight: 700;
    src: url(/fonts/HelveticaNowTextBold.woff) format("woff");
}

@font-face {
    font-family: HelveticaNowDisplayBlk;
    src: url(/fonts/HelveticaNowDisplayBlk.woff) format("woff");
}

@font-face {
    font-family: MontserratV18Latin900;
    src: url(/fonts/MontserratV18Latin900.woff) format("woff");
}

* {
    box-sizing: border-box;
}

.genre {
    position: absolute;
    z-index: 0;
    bottom:0;
    right:0;
    text-transform: uppercase;
    box-shadow: 3px 3px 0 black;
    padding:4px;
    font-size:12px;
    border: 2px solid black;
    text-decoration: none;
    color:black;
    opacity:0.8;
}

.genreRelative {
    text-transform: uppercase;
    box-shadow: 3px 3px 0 black;
    padding:4px;
    font-size:12px;
    border: 2px solid black;
    text-decoration: none;
    color:black;
    opacity:0.8;
    max-width: 100px;
    margin:auto;
}
